<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
</head>

<body>
    <main>
        <div>
            <h1>{{ todo_list_object.name }}</h1>
            <!-- <h1>{{ todo_list_object.name }}</h1> Replace with your todo list's name variable -->
            <a href="{% url 'todo_list_update' todo_list_object.id %}">Edit</a>
            <br>
            <a href="{% url 'todo_list_delete' todo_list_object.id %}">Delete</a>
            <br>
            {% for task in todo_list_object.items.all %}
            {% if task.id %}
            <a href="{% url 'todo_item_update' task.id %} ">Update Item</a>
            {% endif %}
            <!-- {% endfor %} -->
            <h2>Tasks</h2>
            <table>
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Due date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in todo_list_object.items.all %}
                    <tr>

                        <td><a href="{% url 'todo_item_update' task.id %}">{{ task.task }}</a></td>
                        <td>{{ task.due_date|date:"Y-m-d H:i" }}</td> <!-- Format date as needed -->
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>

</html>